/* Add CSS Styling */
.odd{
    background-color: #e66c81 ;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#two{
    color: #0000ff;
    font-size: 36px;
}

#four{
    background-color: #008000;
    font-weight: bold;
}